@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html, body, #root, .app{
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

.content {
  margin-left: 250px;
  width: calc(100% - 250px);
  transition: 0.5s;
}

.content-collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
  transition: 0.5s;
}

@media screen and (max-width: 768px) {

  .content {
    margin-left: 0%;
    width: 100%;
  }

  .content-collapsed {
    margin-left: 0%;
    width: 100%;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}